<nav id="sidebar" class="sidebar js-sidebar">
	<div class="sidebar-content js-simplebar">
		<a class="sidebar-brand" href="index.html">
			<span class="align-middle">AdminKit</span>
		</a>

		<ul class="sidebar-nav">
			<li class="sidebar-header">
				Sayfalarım
			</li>

			<li class="sidebar-item">
				<a class="sidebar-link" href="index.html">
					<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
				</a>
			</li>

			<li class="sidebar-item">
				<a class="sidebar-link" href="pages-profile.html">
					<i class="align-middle" data-feather="user"></i> <span class="align-middle">Profilim</span>
				</a>
			</li>

			<li class="sidebar-item">
				<a class="sidebar-link" href="pages-sign-in.html">
					<i class="align-middle" data-feather="log-in"></i> <span class="align-middle">Çalışma Saatlerim</span>
				</a>
			</li>

			<li class="sidebar-item">
				<a class="sidebar-link" href="pages-sign-up.html">
					<i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">Sosyal Medya</span>
				</a>
			</li>

			<li class="sidebar-item">
				<a class="sidebar-link" href="pages-blank.html">
					<i class="align-middle" data-feather="book"></i> <span class="align-middle">Yetenekler</span>
				</a>
			</li>

			<li class="sidebar-item">
				<a class="sidebar-link" href="pages-blank.html">
					<i class="align-middle" data-feather="book"></i> <span class="align-middle">Eğitimim</span>
				</a>
			</li>

			<li class="sidebar-header">
				Hasta & Randevu
			</li>

			<li class="sidebar-item">
				<a class="sidebar-link" href="ui-buttons.html">
					<i class="align-middle" data-feather="square"></i> <span class="align-middle">Hastalar</span>
				</a>
			</li>

			<li class="sidebar-item">
				<a class="sidebar-link" href="ui-forms.html">
					<i class="align-middle" data-feather="check-square"></i> <span class="align-middle">Randevular</span>
				</a>
			</li>

			<li class="sidebar-item">
				<a class="sidebar-link" href="ui-cards.html">
					<i class="align-middle" data-feather="grid"></i> <span class="align-middle">Hasta İşlemleri</span>
				</a>
			</li>

			<li class="sidebar-header">
				Yönetim & Çıkış
			</li>

			<li class="sidebar-item">
				<a class="sidebar-link" href="/Home/Index/">
					<i class="align-middle" data-feather="bar-chart-2"></i> <span class="align-middle">Anasayfaya Dön</span>
				</a>
			</li>

			<li class="sidebar-item">
				<a class="sidebar-link" href="maps-google.html">
					<i class="align-middle" data-feather="map"></i> <span class="align-middle">Çıkış Yap</span>
				</a>
			</li>
		</ul>
	</div>
</nav>