@model CreateSupportDto
@{
    ViewData["Title"] = "CreateSupport";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Yeni Destekçi Girişi</h4>
        <form method="post" id="createSupportForm">
            <div class="form-group">
                <div class="card-body">
                    <label for="Name">Görsel url</label>
                    <input type="text" class="form-control" asp-for="Image" required>
                </div>
            </div>
            <br />
            <button type="submit" class="btn btn-primary waves-effect waves-light">
                <i class="fas fa-save"></i>  Kaydet
            </button>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        setupFormSubmitWithAlert('createSupportForm', 'Başarıyla eklendi!', 2000);
    });
</script>