<nav id="sidebar" class="sidebar js-sidebar">
	<div class="sidebar-content js-simplebar">
		<a class="sidebar-brand" href="index.html">
			<span class="align-middle">AdminKit</span>
		</a>

		<ul class="sidebar-nav">

			<li class="sidebar-header">
				Hasta & Doktor Sayfaları
			</li>

			<li class="sidebar-item">
				<a class="sidebar-link" href="ui-buttons.html">
					<i class="align-middle" data-feather="square"></i> <span class="align-middle">Randevular</span>
				</a>
			</li>

			<li class="sidebar-item">
				<a class="sidebar-link" href="ui-buttons.html">
					<i class="align-middle" data-feather="square"></i> <span class="align-middle">Hasta</span>
				</a>
			</li>

			<li class="sidebar-item">
				<a class="sidebar-link" href="ui-buttons.html">
					<i class="align-middle" data-feather="square"></i> <span class="align-middle">İşlemler</span>
				</a>
			</li>

			<li class="sidebar-item">
				<a class="sidebar-link" href="ui-forms.html">
					<i class="align-middle" data-feather="check-square"></i> <span class="align-middle">Doctor</span>
				</a>
			</li>

			<li class="sidebar-item">
				<a class="sidebar-link" href="ui-cards.html">
					<i class="align-middle" data-feather="grid"></i> <span class="align-middle">Eğitim</span>
				</a>
			</li>

			<li class="sidebar-item">
				<a class="sidebar-link" href="ui-typography.html">
					<i class="align-middle" data-feather="align-left"></i> <span class="align-middle">Yetenekler</span>
				</a>
			</li>

			<li class="sidebar-item">
				<a class="sidebar-link" href="icons-feather.html">
					<i class="align-middle" data-feather="coffee"></i> <span class="align-middle">Sosyal Medya</span>
				</a>
			</li>

			<li class="sidebar-item">
				<a class="sidebar-link" href="icons-feather.html">
					<i class="align-middle" data-feather="coffee"></i> <span class="align-middle">Çalışma Saatleri</span>
				</a>
			</li>

			<li class="sidebar-header">
				Yönetim Sayfaları
			</li>

			<li class="sidebar-item">
				<a class="sidebar-link" href="/Admin/Dashboard/Index/">
					<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
				</a>
			</li>

			<li class="sidebar-item">
				<a class="sidebar-link" href="/Admin/About/AboutList/">
					<i class="align-middle" data-feather="log-in"></i> <span class="align-middle">Hakkımızda</span>
				</a>
			</li>

			<li class="sidebar-item">
				<a class="sidebar-link" href="/Admin/CategoryCard/CategoryCardList/">
					<i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">Kategori Kart</span>
				</a>
			</li>

			<li class="sidebar-item">
				<a class="sidebar-link" href="/Admin/Comment/CommentList/">
					<i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">Yorum</span>
				</a>
			</li>

			<li class="sidebar-item ">
				<a class="sidebar-link" href="/Admin/CoverLetter/CoverLetterList/">
					<i class="align-middle" data-feather="book"></i> <span class="align-middle">Ön Yazı</span>
				</a>
			</li>

			<li class="sidebar-item ">
				<a class="sidebar-link" href="/Admin/ServiceCard/ServiceCardList/">
					<i class="align-middle" data-feather="book"></i> <span class="align-middle">Hizmet Kart</span>
				</a>
			</li>

			<li class="sidebar-item ">
				<a class="sidebar-link" href="/Admin/ServicePromotion/ServicePromotionList/">
					<i class="align-middle" data-feather="book"></i> <span class="align-middle">Hizmet Promosyonu</span>
				</a>
			</li>

			<li class="sidebar-item ">
				<a class="sidebar-link" href="/Admin/SliderCard/SliderCardList/">
					<i class="align-middle" data-feather="book"></i> <span class="align-middle">Kaydırıcı Kart</span>
				</a>
			</li>

			<li class="sidebar-item ">
				<a class="sidebar-link" href="/Admin/Slider/SliderList/">
					<i class="align-middle" data-feather="book"></i> <span class="align-middle">Kaydırıcı</span>
				</a>
			</li>

			<li class="sidebar-item ">
				<a class="sidebar-link" href="pages-blank.html">
					<i class="align-middle" data-feather="book"></i> <span class="align-middle">Destekciler</span>
				</a>
			</li>

			<li class="sidebar-header">
				Kullanıcılar & Roller
			</li>

			<li class="sidebar-item">
				<a class="sidebar-link" href="charts-chartjs.html">
					<i class="align-middle" data-feather="bar-chart-2"></i> <span class="align-middle">Kullanıcılar</span>
				</a>
			</li>

			<li class="sidebar-item">
				<a class="sidebar-link" href="maps-google.html">
					<i class="align-middle" data-feather="map"></i> <span class="align-middle">Çıkış Yap</span>
				</a>
			</li>
		</ul>
	</div>
</nav>