@model UpdateServiceCardDto
@{
    ViewData["Title"] = "UpdateServiceCard";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Ön Yazı Güncelleme Paneli</h4>
        <form method="post" id="updateServiceCardForm">
            <input type="hidden" asp-for="ServiceCardId" />
            <div class="form-group">
                <div class="card-body">
                    <label for="Name">Başlık</label>
                    <input type="text" class="form-control" asp-for="Title" required>
                </div>
            </div>
            <div class="form-group">
                <div class="card-body">
                    <label for="Name">Görsel Url</label>
                    <input type="text" class="form-control" asp-for="Image" required>
                </div>
            </div>
            <div class="form-group">
                <div class="card-body">
                    <label for="ImageUrl">Açıklama</label>
                    <textarea cols="25" rows="5" asp-for="Description" class="form-control"></textarea>
                </div>
            </div>
            <br />
            <button type="submit" class="btn btn-primary waves-effect waves-light">
                <i class="fas fa-edit"></i> Güncelle
            </button>
        </form>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        setupFormSubmitWithAlert('updateServiceCardForm', 'Başarıyla güncellendi!', 1500);
    });
</script>